@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');


:root {
    --primary: #fe2c55;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}